/* * { box-sizing: border-box; } */

html,
body {
    margin: 0;
}

body {
    background: #EBA83A;
    font-family: 'Inter', sans-serif !important;
}

section.container {
    margin: 100px auto;
}

.shadow {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(0, 0, 0, 0.3);
}

#menu {
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #E22E8C;
}

#logo {
    align-self: flex-end;
}

#logo img {
    width: 100%;
    height: auto;
}

.content {
    display: grid;
    grid-template-rows: [a] 93px [b] 109px [c] auto [d];
    grid-template-columns: [a] 45px [b] minmax(300px, 950px) [c] 50px [d] 350px [e];
}

.content .title-product {
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin: 0;
    grid-column: d;
}

label {
    text-transform: uppercase;
    font-size: 16px;
    color: #BB371A;
    font-weight: bold;
}

#checkoutNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 400px;
    background: #BB371A;
    border-radius: 10px;
    grid-row: c;
    z-index: 2;
    color: white;
    padding-top: 10px;
}

#checkoutNav p,
#checkoutNav i{
  color: white !important;
}

#checkoutNav ul {
    color: #D5D2DD;
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    grid-row: b / -1;
}

#checkoutNav ul i.fa,
#checkoutNav ul i.fas{
    font-size: 25px;
}

.active {
    color: #FBFBFB;
}

#product {
    max-width: 1000px;
    max-height: 752px;
    border-radius: 10px;
    overflow: hidden;
    grid-row: a / -1;
    grid-column: b / d;
}

#product img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: 100%;
}

#checkoutCard {
    max-width: 400px;
    background: #FBFBFB;
    border-radius: 10px;
    grid-row: c;
    grid-column: c / e;
    align-self: start;
}

#details {
    padding: 10px;
    background: linear-gradient(#FBFBFB 40%, #D5D2DD 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details dl {
    margin: 0;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: 60px auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

#details dt {
    color: #D5D2DD;
    text-transform: uppercase;
    font-size: 18px;
    grid-row: 1;
}

#details dd {
    color: #BB371A;
    margin: 0;
}

#checkoutCard ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 18px;
}
#thumbnail {
    width: 175px;
    height: auto;
    border-radius: 20px;
}

#cards i.fa {
    font-size: 40px;
    color: #D5D2DD;
}

#cards i.fa.fa-cc-visa {
    color: #CA136B;
}

#cards label {}

#riepilogo-info {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#riepilogo-info label {
    grid-column: 1 / -1;
}

#securityInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#btnSubmit {
    text-align: center;
    width: 100%;
    border: none;
    height: 50px;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #BB371A;
    color: #FBFBFB;
    font-size: 20px;
}

#card-checkout {
    margin: auto 10px;
}

@media screen and ( max-width: 746px) {
    .content {
        display: block;
    }
    .content h1 {
        margin: 1em;
    }
    #checkoutNav {
        width: auto;
        height: auto;
        margin: 0 0 1em 0;
        border-radius: 10px;
        display: block;
        color: white;
    }
    #checkoutNav ul {
        display: flex;
        justify-content: space-around;
        min-width: 50%;
        margin: 0;
    }
    #checkoutCard {
        margin: auto;
    }
}