body,
html{font-size: 16px; box-sizing: border-box; margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p,ol,ul{margin: 0; padding: 0;}
ol, ul{list-style-type: none;}
img{height: auto;}

/* Base */
body{
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,ol,ul{
    color: #454545 !important;
    margin-bottom: 20px;
}

h1{font-size: 60px; line-height: 1; font-weight: 800;}
h2{font-size: 40px; line-height: 1.3; font-weight: 800;}
h3{font-size: 30px; line-height: 1.3; font-weight: 800;}
h4{font-size: 25px; line-height: 1.3; font-weight: 800;}
h5{font-size: 20px; line-height: 1.3; font-weight: 800;}
h6{font-size: 15px; line-height: 1.3; font-weight: 800;}

img{width: 100%; height: auto;}

a{text-decoration: none;}

@media screen and (max-width: 1200px) {
    h1{font-size: 50px;}
    h2{font-size: 35px;}
    h3{font-size: 28px;}
    p,ul,ol{font-size: 14px;}
}

@media screen and (max-width: 768px) {
    h1{font-size: 40px;}
    h2{font-size: 30px;}
    h3{font-size: 25px;}
    p,ul,ol{font-size: 12px;}
}


/* Header and Hero Section*/
.button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #EBA83A;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.button:hover {
    background-color: #BB371A;
    color: white;
    text-decoration: none;
    transition: .4s;
}

.hero {
    padding-top: 70px;
    background-color: #FFF8D9;
}

.left-hero,
.right-hero {
    margin: auto;
    text-align: center;
}

.left-hero h1{
    font-size: 70px;
}

.inverted-capital{
    color: #BB371A;
    font-weight: bold;
}

.hero-buttons {
    margin-top: 50px !important;
    margin: auto;
    padding: 10px 20px;
}
.hero-buttons .button{
    padding: 10px 50px;
}

.hero-buttons .button.inverted{
   background-color: #BB371A;
}

.hero-buttons .button.inverted:hover{
    background-color: #EBA83A;
    transition: .4s;
}

.hero-image {
    max-width: 100%;
}

@media screen and (max-width: 1130px) {
    .hero {
        display: block !important;
    }
}