
/* Header and Hero Section*/
.button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #EBA83A;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.button:hover {
    background-color: #BB371A;
    color: white;
    text-decoration: none;
    transition: .4s;
}

.hero {
    padding-top: 70px;
    background-color: #FFF8D9;
}

.left-hero,
.right-hero {
    margin: auto;
    text-align: center;
}

.left-hero h1{
    font-size: 70px;
}

.inverted-capital{
    color: #BB371A;
    font-weight: bold;
}

.hero-buttons {
    margin-top: 50px !important;
    margin: auto;
    padding: 10px 20px;
}
.hero-buttons .button{
    padding: 10px 50px;
}

.hero-buttons .button.inverted{
   background-color: #BB371A;
}

.hero-buttons .button.inverted:hover{
    background-color: #EBA83A;
    transition: .4s;
}

.hero-image {
    max-width: 100%;
}

@media screen and (max-width: 1130px) {
    .hero {
        display: block !important;
    }
}