.sidebar .nav-icon {
    color: #EBA83A !important;
}

a.nav-link:hover p, a.nav-link:hover i {
    color: #BB371A !important;
}

.content-wrapper{
    background: none !important;
}

.profile-box {
    overflow: hidden;
    background-color: rgba(213, 219, 179, 0.2);
    border-radius: 30px;
    box-shadow: 5px 10px 10px rgba(213, 219, 179, 0.1);
    padding: 60px 0px 20px;
}
.propic{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 20vw;
    height: 20vw;
}

.propic img {
    height: 100%;
    object-fit: cover;
}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: .5s ease;
    background-color: grey;
    cursor: pointer;
}

.propic:hover .overlay {
    opacity: .9;
}

.overlay .text {
    color: white;
    font-size: 2em;
}

.info h5 {
    color: #EBA83A !important;
}

h5 {
    color: #EBA83A !important;
}
.following-username {
    text-decoration: none;
    color: #EBA83A;
    font-size: 1.25em;
    font-weight: 700;
    transition: .5s;
}

.following-username:hover {
    text-decoration: none;
    color: #BB371A;
    transition: .5s;
}

.unfollow {
    padding: 10px 15px;
    background-color: #BB371A;
    color: #FFFFFF;
    border-radius: 25px;
    display: block;
    transition: .5s;
}
.unfollow:hover {
    color: #FFFFFF;
    background-color: #EBA83A;
    transition: .5s;
    text-decoration: none;
}

#update-choice button {
    padding: 15px 30px;
    background-color: #EBA83A;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
    display: block;
    font-size: 1.2em;
    transition: .5s;
}
#update-choice button:hover {
    color: #FFFFFF;
    background-color: #BB371A;
    transition: .5s;
    text-decoration: none;
}

.disabled {
    background-color: lightgrey !important;
    pointer-events: none !important;
}

#update-profile{
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBA83A;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
    display: block;
    font-size: 1.2em;
    transition: .5s;
}
#update-profile:hover{
    color: #FFFFFF;
    background-color: #BB371A;
    transition: .5s;
    text-decoration: none;
}
#update-password{
    padding: 15px 30px;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #BB371A;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
    display: block;
    font-size: 1.2em;
    transition: .5s;
}
#update-password:hover{
    color: #FFFFFF;
    background-color: #EBA83A;
    transition: .5s;
    text-decoration: none;
}


.data,
.update-informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-informations {
    overflow: hidden;
    padding: 40px 30px 5px;
    width: 80%;
    margin: 4vh auto 5vh;
}

.data>.data-input {
    background: white;
    box-shadow: 0 0 10px #e6e9f9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    color: #454545;
    transition: .8s;
}

.data>.data-input:hover {
    box-shadow: 0 0 10px rgba(187, 55, 26, 0.3);
    transition: .8s;
}

.data-input .input-icon input {
    outline: none;
    border: none;
    width: 90%;
    margin-top: 5px;
}

.input-icon i {
    margin-right: 5px;
}

.input-icon input::placeholder {
    color: rgba(69, 69, 69, 0.5);
}

.data>button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 40%;
    border: none;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #BB371A;
    transition: 0.3s;
}

.data>button:hover {
    background-color: #EBA83A;
}

@media screen and (max-width: 1200px) {
    .update-informations {
        width: 100%;
    }
}


.pass-info {
    padding-left: 5%;
    font-size: 0.9em;
    padding-right: 5%;
}

.pass-info p,
.info-propic p{
    margin-bottom: 0px !important;
    color: #b8b8b8 !important;
    font-size: 0.9em;
}

.info-propic p {
    text-align: center;
}

.pass-info ul {
    list-style-type: disc;
    margin-left: 5% !important;
    color: #b8b8b8 !important;
}























.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #EBA83A !important;
    border-radius: 20px !important;
    font-size: 15px;
}

.edit-profile:hover{
    background-color: #BB371A !important;
    color: white !important;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}